/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start Your Code Here */

a {
	line-height: 110%;
}

div {
	height: 140px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: #D6C2FF;
	padding: 4px;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 350%;
	line-height: 110%;
	color: red;
}

h2 {
	font-size: 180%;
	line-height: 110%;
}


h3 {
	font-size: 125%;
	line-height: 110%;
}

p {
	font-size: 100%;
	line-height: 110%;
}

.absolute-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

.center-of-div {
	line-height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;

}

.center-text {
	text-align:center;
}

.five-part {
	width: calc(18.8% - 12px);
	margin-left: 1%;
}

.four-part {
	width: calc(23.75% - 12px);
	margin-left: 1%;
}

.full-screen-div {
	width: calc(98% - 12px);
	margin: 1%;
}

.header-or-footer {
	text-align: center;
	clear: both;
}


.img-rps {
	width: auto;
	height: 140px;
	text-align: center;
}

.jumbotron {
  background-image: url("images/bg.png"); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.massive-font {
	font-size: 700%;
}

.multi-part-div {
	margin-bottom: 1%;
	float: left;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pfooter {
	text-align: center;
	line-height: 200%;
	color: red;
}

.room-underneath {
	margin-bottom: 15px;
}

.rps-results-text {
	margin-top: 30px;
	line-height: 110%;
	text-align: center;
}

.three-part {
	width: calc(32% - 12px);
	margin-left: 1%;
}

.two-part {
	margin-right: 1%;
}

.two-part-left {
	margin-left: 1%;
	width: calc(83% - 12px);
}

.two-part-right {
	width: calc(14% - 12px);;
}

.vertical {
	line-height: 140px;
}

#clicker {
	margin-bottom: 1%;
}

#experience {
	font-size: 250%;
}

#green {
	background-color: green;
}

#hit-points {
	font-size: 250%;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

@media (max-width: 300px) {
	#header {
		position: relative;
		}
	.left {
		float: none;
		width: auto;
		margin: 1%;
		height: auto;
	}
	.right {
		float: none;
		width: auto;
		margin: 1%;
		height: auto;
	}
	h1 {
		font-size: 100%;
	}
	centerOfDiv {
		font-size: 100%;
	}
	
}